<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Compra de produto</title>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/brython@3.13.2/brython.min.js">
    </script>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/brython@3.13.2/brython_stdlib.js">
    </script>
  </head>
  <body>
    <h1>Brasilia 1973</h1>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/VW_Brasilia.jpg/960px-VW_Brasilia.jpg"
      width="160"
    />
    <br/>
    <button id="compra">Comprar!</button>
    <p id="msg"></p>
    <div class="status">
    </div>

    <script type="text/python" src="/static/polling.py">
    </script>
  </body>
</html>
