{% extends "base.html" %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Live of Python 94!</h1>
    <p>This is a introduction to Django.</p>
    <p>
      <a href="">
        <button class="btn btn-primary btn-lg" type="button">
          Cadastrar <span class="fa fa-plus"></span>
        </button>
      </a>
    </p>
  </div>
</div>

<div class="text-center mt-5 pt-5">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
</div>

{% endblock content %}